<div class="box-background-image">
    <!-- <img style="width: 100%; height: 100%;" src="/images/background.png" /> -->
    <div class="bground"></div>
    <div class="box-logo">
        <img src="/images/logo.png" />
        <p class="text-greeting">Start learning new things daily!</p>
    </div>
</div>
<div class="box-main">
    <div class="alert alert-danger">
        <h1>Access Denied</h1>
        <p>You do not have access to that resource.</p>
    </div>
</div>
@*<div class="container">
    <div class="lead">
        <h1>Access Denied</h1>
        <p>You do not have access to that resource.</p>
    </div>
</div>*@