@model IdentityServer.Models.AccountViewModels.ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset password";
}

@*<h2>@ViewData["Title"]</h2>
<h4>Reset your password.</h4>
<hr />*@
<div class="box-background-image">
    <!-- <img style="width: 100%; height: 100%;" src="images/background.png" /> -->
    <div class="bground"></div>
    <div class="box-logo">
        <img src="/images/logo.png" />
        <p class="text-greeting">Start learning new things daily!</p>
    </div>
</div>
<div class="box-main">
    <div class="box-header-title">
        <h1>@ViewData["Title"]</h1>
    </div>
        <form method="post" class="box-form">
            @*<div asp-validation-summary="All" class="text-danger"></div>*@
            <input asp-for="Code" type="hidden" />
            <div class="form-group">
                @*<label asp-for="Email"></label>*@
                <input asp-for="Email" class="form-control" placeholder="Nhập email" readonly />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="Password"></label>*@
                <input asp-for="Password" class="form-control" placeholder="Nhập Mật khẩu Mới" autofocus />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="ConfirmPassword"></label>*@
                <input asp-for="ConfirmPassword" class="form-control" placeholder="Nhập Lại Mật khẩu Mới" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn box-button"><p class="text-submit">Thay Đổi Mật Khẩu</p></button>
        </form>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
